
<div class="container">
  <div class="options-container" >
    <div class="option" *ngFor="let option of options">
      {{ option }}
    </div>
  </div>

  <div class="imagen-container">
    <!-- <img src="./../../assets/images/mujer 2.svg" alt=""> -->

    <img src="./../../assets/images/bebe.jpg" alt="">

  </div>

  <div class="professional-container">
    <div class="find-professional-container">
      <i class="fa-solid fa-user-tie"></i>
      <p>Profesionales</p>
    </div>

    <div class="urgency-container">
      <i class="fa-solid fa-truck-medical"></i>
      <p>Urgencia</p>
    </div>
  </div>
</div>
