
<div class="container">
	<ngb-carousel>
		<ng-template ngbSlide>
      <div class="options-container" >
        <div class="option" *ngFor="let option of options">
          {{ option }}
        </div>
      </div>
		</ng-template>

		<ng-template ngbSlide>
      <div class="imagen-container">
        <!-- <img src="./../../assets/images/mujer 2.svg" alt=""> -->
        <img src="./../../assets/images/bebe.jpg" alt="">
      </div>
		</ng-template>

		<ng-template ngbSlide>
      <div class="professional-container" (click)="openProfessionalLookup()">
        <div class="find-professional-container">
          <i class="fa-solid fa-user-tie"></i>
          <p>Especialistas</p>
        </div>
      </div>
		</ng-template>
	</ngb-carousel>
</div>
