$topnav-background-color: rgb(215, 137, 179);
$topnav-background-color-hover: rgb(212, 86, 154);
$letter-color: #fff;
$secundary-border: rgb(81, 22, 116);

.modal-body{
  height: 55vh;
  height: 55vh;
}

.save-button {
  margin-top: 15px;
  width: 50%;
}
