// $topnav-background-color: rgb(117, 97, 146);
// $topnav-background-color-hover: rgb(209, 198, 255);
$topnav-background-color: rgb(209, 198, 255);
$topnav-background-color-hover: rgb(117, 97, 146);
$letter-color: #fff;
$secundary-border: rgb(103, 72, 151);

:host {
  .navbar {
    margin: 5px 5px 0 5px;
    border-radius: 10px;
    background-color: $topnav-background-color;
    height: 55px;

    .navbar-brand {
      color: #fff;
      font-weight: 500;
    }

    .nav-item > a {
      color: $letter-color;
    }
  }

  .dropdown-menu {
    background: $topnav-background-color;
    a {
      color: #fff;
      cursor: pointer;

      &:hover {
        background: $topnav-background-color-hover;
      }
    }

    i {
      margin-right: 3px;
    }
  }

  .messages {
    width: 200px;

    .msg-header {
      font-size: 15px;
      font-weight: 600;
      padding-top: 5px;
      padding-left: 10px;
    }

    .media {
      border-bottom: 1px solid #ddd;
      margin-bottom: 5px;
      font-size: 14px;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.company-logo {
  height: 100%;
  max-height: 40px;
}
