$topnav-background-color: rgb(209, 198, 255);
$topnav-background-color-hover: rgb(117, 97, 146);
$letter-color: #fff;
$secundary-border: rgb(103, 72, 151);

.navbar-collapse {
  background: rgb(117, 97, 146) !important;
  width: 95vw;
  border-radius: 10px;
  padding: 10px;
  -webkit-mask-image: radial-gradient(circle 10px at 26px -10px, transparent 0, transparent 20px, black 21px);
  mask-image: radial-gradient(circle 10px at 26px -10px, transparent 0, transparent 20px, black 21px);
  // margin-top: 10px;

  a {
    color: white !important;
  }
}

button:focus:not(:focus-visible) {
  box-shadow: none;
}

.bg-body-tertiary {
  background: none !important;
}

.navbar-toggler {
  border: 2px solid $secundary-border;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  outline: 0 !important;
  z-index: 3;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(103,52,151, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
  }

  p {
    width: 100%;
    line-height: 4rem;
    height: 50px;
    display: flex;
    margin-left: 10px;
    font-size: x-large;
  }
}

.top-data {
  width: 100%;

  .row {
    justify-content: center;
    display: flex;
  }

  a {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    flex-direction: column;
    align-items: center;
    border: 1px solid $topnav-background-color;
    margin: 10px;
    justify-content: center;

    span {
      text-align: center;
      font-size: 8px;
    }
  }
}
