$primary: rgb(81, 22, 116);
$secundary: rgb(159, 77, 206);
$topnav-background-color: rgb(215, 137, 179);

.container-all {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(100vw - 250px);
}

.bg {
  background: linear-gradient(180deg, rgba(238,174,202,0.7679446778711485) 0%, rgba(148,187,233,0.7203256302521008) 100%);
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  width: calc(100vw - 250px);
  height: 100svh;
}

.title-container {
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  height: 10%;
  justify-content: flex-end;
  align-items: center;

  h4 {
    width: auto;
    padding: 0 10px;
    text-align: start;
    border-radius: 10px;
    background: $topnav-background-color;
    height: 40px;
    align-content: center;
    color: white;
  }
}

.container-chats {
  justify-content: center;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 90%;
  overflow: scroll;
  align-content: flex-start;
  padding: 10px;

  span {
    display: flex;
    width: 90%;
    font-size: small;
  }
}

.container-chats::-webkit-scrollbar {
  display: none          /* width of the entire scrollbar */
}

.chat {
  max-width: 250px;
  height: auto;
  min-height: 50px;
  line-height: 25px;
  border-radius: 10px;
  background: $topnav-background-color;
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  flex-wrap: wrap;

  span {
    color: white;
    margin-left: 4px;
  }
}

.span-option {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5px;

  .link {
    cursor: pointer;
    margin: 0 10px;
  }

  i {
    color: white;
    background: rgb(81, 22, 116);
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
}


@media screen and (max-width: 700px) {
  .container-all {
    width: 100vw;
  }

  .bg {
    width: 100%;
  }
}
