<div class="modal-header">
  <h4 class="modal-title">Seleccionar profesional </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="dismissModal()"></button>
</div>
<div class="modal-body">

  <div class="container">

    <div class="title-container">
      <img src="./../../../assets/images/icon.png" alt="">
      <span class="title-text">Estamos para acompañarte las 24 horas. Por favor selecciona el especialista que deseas.</span>
    </div>

    <div class="search-container">
      <div class="option">
        <label for="year">Idioma: </label>

        <select formControlName="year" id="year">
          <option value="">All</option>
          <option *ngFor="let languageOption of languageOptions" [value]="languageOption">{{ languageOption }}</option>
        </select>
      </div>

      <span class="span-lateral"></span>

      <div class="option">
        <label for="year">País: </label>

        <select formControlName="year" id="year">
          <option value="">All</option>
          <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
        </select>
      </div>

      <span class="span-lateral"></span>

      <div class="option">
        <label for="year">Especialista: </label>

        <select formControlName="year" id="year">
          <option value="">All</option>
          <option *ngFor="let profession of professions" [value]="profession">{{ profession }}</option>
        </select>
      </div>

      <span class="search-icon-container" (click)="search()"><i class="fa-solid fa-magnifying-glass"></i></span>
    </div>

  </div>


<div class="modal-footer">
  <button type="button" class="btn primaryBtn" (click)="closeModal()">Seleccionar</button>
</div>
