<div class="all">
  <div class="btn-container">
    <button class="btn btn-primary" (click)="addNewNote()">Add new +</button>
  </div>

  <div class="container">
    <div class="example-box" *ngFor="let note of notes">

      <p>
        {{note.text}}
      </p>

      <span class="bubble" *ngIf="note.state === 'To do'" [ngStyle]="{'background': 'rgba(207, 207, 17, 0.664)'}">
        {{ note.state }}
      </span>

      <span class="bubble" *ngIf="note.state === 'In progress'" [ngStyle]="{'background': 'orange'}">
        {{ note.state }}
      </span>

      <span class="bubble" *ngIf="note.state === 'Done'" [ngStyle]="{'background': 'green'}">
        {{ note.state }}
      </span>

      <span class="bubble" [ngStyle]="{'background': 'green'}">
        {{ note.author }}
      </span>

    </div>
  </div>
</div>



