@import 'custom';
@import 'bootstrap/scss/bootstrap';
@import 'variables';
@import 'utils';

body {
  // background: #ededee;
  background: white;

}

/* cards */

.card-container {
  padding: 15px 25px;
  background-color: #fff;
  margin-bottom: 10px;

  h5 {
    font-size: 1.25rem;
  }
}
