@import 'custom';
@import 'bootstrap/scss/bootstrap';
@import 'variables';
@import 'utils';
@import 'responsive';

body {
  // background: #ededee;
  background: white;

}

/* cards */

.card-container {
  padding: 15px 25px;
  background-color: #fff;
  margin-bottom: 10px;

  h5 {
    font-size: 1.25rem;
  }
}

/* buttons */

.primaryBtn {
  background: $primary-color;
  color: white;
  &:hover {
    background: $secondary-color;
    color: white;
  }
}

.secondaryBtn {
  background: $secondary-color;
  color: white;
  &:hover {
    background: #676a6d;
    color: white;
  }
}

/* screen container */

// .container-all {
//   .form-control-label {
//     font-size: 13px;
//     color: #858a8c;
//     margin-bottom: 0.5rem;
//   }

//   .buttons-container {
//     display: flex;
//     position: absolute;
//     right: 3%;
//     align-items: center;
//   }

//   .container-icons {
//     display: flex;
//     justify-content: flex-end;

//     i {
//       cursor: pointer;
//       color: #334250;
//     }
//   }

//   .search-tool-header {
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 1vh;
//     border-bottom: 1px solid lightslategrey;
//     padding: 12px;
//     box-shadow: 0px 15px 10px -15px #111;
//     background-color: #fff;

//     .title-container {
//       color: #59595b;
//       width: 25%;
//       display: flex;
//       align-items: center;
//     }

//     .container-icons {
//       width: 25%;
//       display: flex;
//       justify-content: flex-end;

//       i {
//         cursor: pointer;
//       }
//     }

//     .options-icon {
//       margin: 5px;
//       font-size: 25px;
//     }

//     .search-container {
//       width: 40%;
//     }

//     .btn-icon {
//       border: none;
//       padding: 0;
//       margin: 0;
//       background: none;
//     }

//     .fa-search {
//       color: white;
//     }

//     .input-search {
//       border: 2px solid lightgray;
//     }

//     #searchButton {
//       background: $primary-color;
//     }
//   }
// }

/* modals */


amos-web-loader {
  .spinner {
    > div {
      background-color: $primary-color !important;
    }
  }
}
