$header-height: 80px;
$professional-container: 170px;

* {
  background-color: white;
  max-height: calc(100vh - $header-height);
}

.professional-container {
  height: $professional-container;
}

// .chat-container {
//   height: calc(100vh - $header-height - $professional-container);
// }
