<div class="modal-header">
  <h4 class="modal-title">{{ course.name }}</h4>

  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="dismissModal()"
  ></button>
</div>
<div class="modal-body">
  <iframe width="100%" height="100%" [src]="course.link | safe"
    title="YouTube video player" frameborder="0"
    allowfullscreen>
  </iframe>
  <hr />
  <hr />
  <!-- <p>RATING</p>
  <ngb-rating [(rate)]="rating" />
    <hr />
  <pre>Calificación: <b>{{ rating }}</b></pre> -->
</div>
