<!-- <app-header class="header" [user]="user"></app-header> -->
<div class="container-all">
  <section class="siderbar-container">
    <app-sidebar [user]="user"></app-sidebar>
  </section>

  <section class="siderbar-down-container" [ngClass]="collapsed ? 'collapse-active' : 'collapse-not-active'">
    <app-header [user]="user"></app-header>
  </section>

  <section class="main-container">
    <router-outlet></router-outlet>
    <app-loader [show]="loader" [text]="text"></app-loader>
  </section>
</div>

