$topnav-background-color: rgb(215, 137, 179);

.container-all {
  display: flex;
  height: 100svh;
}

.siderbar-container {
  width: 250px;
  display: flex;
  height: 100%;
  overflow: hidden;
  overflow-y: hidden;
}

.main-container {
  display: flex;
  width: calc(100% - 250px);
}

.siderbar-down-container {
  display: block;
  z-index: 1;
  position: absolute;
}

@media screen and (max-width: 700px) {
  .siderbar-container {
    display: none;
  }

  .siderbar-down-container {
    z-index: 2;
  }

  .main-container {
    width: 100%;
  }

}

@media screen and (min-width: 701px) {
  .siderbar-container {
    display: flex;
  }

  .siderbar-down-container {
    display: none;
  }
}
