.main-container {
  margin-top: 75px;
  margin-left: 235px;
  height: calc(100vh - 90px);
}

.collapsed {
  margin-left: 60px;
}

@media screen and (max-width: 992px) {
  .main-container {
      margin-left: 0px !important;
  }
}

@media screen and (max-width: 700px) {
  .main-container {
    height: calc(94vh - 90px);
  }
}
