$primary: rgb(81, 22, 116);
$secundary: rgb(159, 77, 206);
$topnav-background-color: rgb(215, 137, 179);


.container-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  height: 99vh;
  width: calc(100vw - 250px);
  position: fixed;
}

.bg {
  background: linear-gradient(180deg, rgba(238,174,202,0.7679446778711485) 0%, rgba(148,187,233,0.7203256302521008) 100%);
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  width: calc(100vw - 250px);
  height: 99vh;
}

.button-container {
  z-index: 2;
  display: flex;
  height: 7%;
  min-height: 40px;

  button {
    margin-right: 10px;
    border-radius: 10px;
    background: $topnav-background-color;
    color: #fff;
  }
}

// CHAT
.chat-text {
  width: 95%;
  overflow: scroll;
  height: 73%;
  display: flex;
  bottom: 15px;
  position: relative;
}

.timer {
  position: relative;
  right: -95%;
  font-size: 12px;
  overflow-wrap: normal;
}

ul {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

li {
  display: flow-root;
  width: 100%;
  border-radius: 15px;
  margin-top: 10px;
  min-height: 120px;
  padding: 15px;
}

.openia-bg {
  background: rgba(238,174,202, 25%);
}

.user-bg {
  background: rgba(148,187,233, 25%);
}

.icon-chat {
  display: flex;
  width: 30px;
  height: 30px;

  img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
}

.icon-user {
  display: flex;
  width: 30px;
  height: 30px;
  border: 1px solid $primary;

  img {
    border-radius: 50%;

  }
}

.icon-user {

  i {
    position: relative;
    // right: 25px;
  }
}

.chat-text::-webkit-scrollbar {
  width: 12px;
  display: none          /* width of the entire scrollbar */
}

.chat-text::-webkit-scrollbar-track {
  background: $primary;        /* color of the tracking area */
}

.chat-text::-webkit-scrollbar-thumb {
  background-color: $primary;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  background-color: transparent;
  border-top: 60px solid $secundary /*or any height and color you want*/;
}

.text-container {
  width: 90%;
  margin: auto;
}

.text-conversation {
  font-size: 12px;
  text-decoration: none;
  color: #27414C;
}

// INPUT

.icon-container {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 5px;

  span {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 0 5px;
    cursor: pointer;

    i {
      color: $primary;
    }
  }
}

.input-container {
  display: flex;
  width: 65%;
  align-items: center;
  bottom: 15px;
  position: relative;
  height: 11%;
}

.input {
  width: calc(100% - 110px);
  border: 1px solid lightgrey;
  display: flex;
  height: 50px;
  padding: 10px;
  outline: none;
  border-radius: 10px;
}


@media screen and (max-width: 700px) {
  .container-all {
    width: 100vw;
    height: 94vh;
  }

  .input-container {
    width: 90%;
    bottom: 30px;
  }

  .bg {
    width: 100%;
  }

  .timer {
      right: -92%;
  }
}
