<nav [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }" class="sidebar">
  <div class="list-group">
    <div class="top-data">
      <a
        [routerLinkActive]="['router-link-active']"
        class="list-group-item"
        routerLink="/courses"
        title="titulo"
        >
        <i class="fa-solid fa-graduation-cap"></i>
        &nbsp;
        <span>
          Cursos
        </span>
      </a>
      <!-- <a
        [routerLinkActive]="['router-link-active']"
        class="list-group-item"
        routerLink="/foro"
        title="titulo"
        >
        <i class="fa-solid fa-user-group"></i>
        &nbsp;
        <span>
          Comunidad
        </span>
      </a> -->
      <!-- <a
        [routerLinkActive]="['router-link-active']"
        class="list-group-item"

        title="titulo"
        >
        <i class="fa-solid fa-user-tie"></i>
        &nbsp;
        <span>
          Profesionales
        </span>
      </a> -->
      <a
        [routerLinkActive]="['router-link-active']"
        class="list-group-item"
        routerLink="/chat"
        title="titulo"
        >
        <i class="fa-solid fa-message"></i>
        &nbsp;
        <span>
          Mis conversaciones
        </span>
      </a>
      <a
        [routerLinkActive]="['router-link-active']"
        class="list-group-item"

        title="titulo"
        >
        <i class="fa-solid fa-gear"></i>
        &nbsp;
        <span>Configuracion</span>
      </a>

      <div class="header-fields">
        <!-- <div class="nested-menu">
          <a (click)="addExpandClass('languages')" class="list-group-item">
            <i class="fa fa-language"></i>
            &nbsp;
            <span>
              Lenguaje
              <b class="caret"></b>
            </span>
          </a>
          <li [class.expand]="showMenu === 'languages'" class="nested">
            <ul class="submenu">
              <li>
                <a (click)="changeLang('en')" href="javascript:void(0)">
                  English'
                </a>
              </li>
              <li>
                <a (click)="changeLang('fr')" href="javascript:void(0)">
                  French
                </a>
              </li>
              <li>
                <a (click)="changeLang('ur')" href="javascript:void(0)">
                  Urdu
                </a>
              </li>
              <li>
                <a (click)="changeLang('es')" href="javascript:void(0)">
                  Spanish
                </a>
              </li>
            </ul>
          </li>
        </div> -->

        <div class="nested-menu">
          <a (click)="addExpandClass('profile')" class="list-group-item">
            <i class="fa fa-user"></i>
            <span>
              {{user?.displayName}}
            </span>
          </a>
          <li [class.expand]="showMenu === 'profile'" class="nested">
            <ul class="submenu">
              <li>
                <a>
                  <span >
                    <i class="fa-solid fa-fw fa-info"></i>
                    About Otilia
                  </span>
                </a>
              </li>
              <li>
                <a>
                  <span *ngIf="user" (click)="logout()">
                    <i class="fa-solid fa-fw fa-power-off"></i>
                    Salir
                  </span>
                  <span *ngIf="!user" (click)="logIn()">
                    <i class="fa-solid fa-fw fa-power-off"></i>
                    Ingresar
                  </span>
                </a>
              </li>
            </ul>
          </li>
        </div>
      </div>
    </div>

    <div class="bottom-data">
      <div (click)="toggleCollapsed()" [ngClass]="{ collapsed: collapsed }" class="toggle-button">
        <i class="fa-solid fa-angles-{{ collapsed ? 'right' : 'left' }}"></i>
        &nbsp;
      </div>
    </div>
  </div>

  <!-- <div (click)="toggleCollapsed()" [ngClass]="{ collapsed: collapsed }" class="toggle-button">
    <i class="fa-solid fa-angles-{{ collapsed ? 'right' : 'left' }}"></i>
    &nbsp;
  </div> -->
</nav>
