
$topnav-background-color: rgba(249, 250, 251, 1);
$font-menu-color: rgba(16, 24, 40, 1);

.sidebar {
  height: 100%;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  overflow-y: hidden;

  .title {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    margin: 15px 0;
    cursor: pointer;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 0 auto;
    }

    p {
      width: 100%;
      line-height: 4rem;
      height: 50px;
      display: flex;
      margin-left: 10px;
      font-size: x-large;
    }
  }
}

  .list-group {
    height: calc(100% - 80px);
    background-color: $topnav-background-color;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    overflow-y: hidden;
  }

  .list-group {
    .top-data {
      display: flex;
      flex-wrap: wrap;
    }

    .configuration-items {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 40px;
    }

    a.list-group-item {
      background: none;
      cursor: pointer;
      border: 1px solid $topnav-background-color;
      color: $font-menu-color;
      text-decoration: none;
      padding: 0.75rem 1.25rem;
      display: flex;
      align-items: center;

      i {
        margin-right: 10px;
        color: $font-menu-color;

        display: flex;
        width: 15%;
      }
    }

    a:hover {
      background: darken($topnav-background-color, 5%);
      font-weight: bold;
    }

    a.router-link-active {
      background: darken($topnav-background-color, 10%);
      font-weight: bold;
    }

    .header-fields {
      padding-top: 10px;

      > .list-group-item:first-child {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
  }

  .sidebar-dropdown {
    *:focus {
      border: none;
    }

    .panel-title {
      font-size: 1rem;
      height: 50px;
      margin-bottom: 0;

      a {
        color: #999;
        text-decoration: none;
        font-weight: 400;
        background: $topnav-background-color;

        span {
          position: relative;
          display: block;
          padding: 0.75rem 1.5rem;
          padding-top: 1rem;
          cursor: pointer;
        }
      }

      a:hover,
      a:focus {
        color: #fff;
        outline: none;
        outline-offset: -2px;
      }
    }

    .panel-title:hover {
      background: darken($topnav-background-color, 5%);
    }

    .panel-collapse {
      border: none;

      .panel-body {
        .list-group-item {
          background-color: $topnav-background-color;
          border: 0 solid transparent;

          a {
            color: #999;
          }

          a:hover {
            color: #fff;
          }
        }

        .list-group-item:hover {
          background: darken($topnav-background-color, 5%);
        }
      }
    }
  }

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(255, 255, 255, 1);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 1);
}
