<nav class="sidebar">

  <div class="title" routerLink="./">
    <img src="../../../../assets/images/logo-final.ico" alt="">
    <!-- <p>Otilia</p> -->
  </div>

  <div class="list-group">
    <div class="top-data">
      <a
        [routerLinkActive]="['router-link-active']"
        class="list-group-item"
        routerLink="/courses">
        <i class="fa-solid fa-graduation-cap"></i>
        &nbsp;
        <span>
          Browse Tutorials
        </span>
      </a>
      <a
        [routerLinkActive]="['router-link-active']"
        class="list-group-item"
        routerLink="/chat">
        <i class="fa-solid fa-message"></i>
        &nbsp;
        <span>
          My conversation
        </span>
      </a>
      <a
        [routerLinkActive]="['router-link-active']"
        class="list-group-item"
        routerLink="/saved-chats" (click)="savedChatsWarning()">
        <i class="fa-regular fa-comments" ></i>
        &nbsp;
        <span>
          Saved chats
        </span>
      </a>
    </div>

    <div class="configuration-items">
      <a  *ngIf="!user"
        [routerLinkActive]="['router-link-active']"
        class="list-group-item"
        (click)="logIn()">
        <i class="fa-solid fa-right-to-bracket"></i>
        &nbsp;
        <span>Log in</span>
      </a>
      <a *ngIf="user"
        [routerLinkActive]="['router-link-active']"
        class="list-group-item">
        <i class="fa-solid fa-user"></i>
        &nbsp;
        <span>{{user ? user.displayName : ''}}</span>
      </a>
      <a
        [routerLinkActive]="['router-link-active']"
        class="list-group-item">
        <i class="fa-solid fa-circle-info"></i>
        &nbsp;
        <span>About Otilia</span>
      </a>
      <a
        [routerLinkActive]="['router-link-active']"
        class="list-group-item">
        <i class="fa-solid fa-gear"></i>
        &nbsp;
        <span>Configuration</span>
      </a>
      <a *ngIf="user"
        [routerLinkActive]="['router-link-active']"
        class="list-group-item"
        (click)="logout()">
        <i class="fa-solid fa-fw fa-power-off"></i>
        &nbsp;
        <span>Log out</span>
      </a>
    </div>

  </div>
</nav>
