$topnav-background-color: rgb(215, 137, 179);
$topnav-background-color-hover: rgb(212, 86, 154);
$letter-color: #fff;
$secundary-border: rgb(81, 22, 116);

.video-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 250px);
  height: 100%;
}

.bg {
  background: linear-gradient(180deg, rgba(238,174,202,0.7679446778711485) 0%, rgba(148,187,233,0.7203256302521008) 100%);
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  width: calc(100vw - 250px);
  height: 100svh;
}

.title-container {
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  height: 70px;
  justify-content: flex-end;
  align-items: center;

  h4 {
    width: auto;
    padding: 0 10px;
    text-align: start;
    border-radius: 10px;
    background: $topnav-background-color;
    height: 40px;
    align-content: center;
    color: white;
  }
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  height: 100px;
  margin: 0 auto;

}

.filter-container {
  button {
    margin-right: 10px;
    border-radius: 10px;
    background: $topnav-background-color;
    color: #fff;
  }
}

.videos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  height: calc(100% - 180px);
}

.videos-container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.card-group {
  .card {
    border-radius: 15px;
    border: none;
    width: 280px;
    margin: 10px;
    max-height: 280px;

    img {
      border-radius: 15px;
      width: 280px;
      height: 150px;
      cursor: pointer;
    }
  }
}

.card-group:last-child {
  margin-bottom: 25px;
}

.clock-icon:before {
  content: "\1F550";
}

.heart-icon-container {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 20px;
  right: 15px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  cursor: pointer;

  i {
    color: #fff;
  }
}

.heart-icon-not-active {
  background: lightgray;
}

.heart-icon-active {
  background: $topnav-background-color;
}

.card-text {
  .text-body-secondary:last-child {
    font-size: inherit;
  }

  .opinion {
    margin-left: 20%;
    cursor: pointer;
  }

  .opinion-text {
    color: green !important;
    font-weight: bold;
  }
}

:host ::ng-deep #rating {
  margin-left: 20%;
  span {
    color: #FCD535;
    font-size: x-large;
  }
}

@media screen and (max-width: 700px) {
  .video-container {
    width: 100vw;
  }

  .bg {
    width: 100%;
  }
}
