$topnav-background-color: rgb(215, 137, 179);
$font-menu-color: white;

.container-all {
  box-shadow: 2px 2px 10px #27414C;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  height: calc(100vh - 80px);
}

.title-container {
  text-align: center;
  --tw-bg-opacity: 1;
  background-color: rgb(215 137 179 / var(--tw-bg-opacity));
  // background-color: $topnav-background-color;
  // filter: brightness(50%);
  // box-shadow: 2px 2px 10px $topnav-background-color;
  padding: 5px;
  border-radius: 10px;
  width: 80%;
  position: fixed;
  margin-top: 15px;

    h2 {
      color: white;
    }
}
